<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Đăng nhập</title>
  <!---Custom CSS File--->
  <link rel="stylesheet" href="css/dangKy.css">
</head>

<body>
  <div class="container">
    <div class="login form">
      <header>Đăng nhập</header>
      <form onsubmit="dangNhap(event)" action="#">
        <input type="text" placeholder="Tên đăng nhập">
        <input type="password" placeholder="Mật khẩu">
        <span onclick="alert('Hãy nhớ mật khẩu')" style="color: #1CBBB4; cursor: pointer;">Quên mật khẩu?</span>
        <input type="submit" class="button" value="Đăng nhập">
      </form>
    </div>
  </div>
  <script src="js/admin.js"></script>
</body>

</html>